<div class="m-5">
    <h1>Transaction Table</h1>
    <div class="mb-3 row mt-5">
        <label for="filter" class="h2 col-sm-1 col-form-label">Filter Transaction: </label>
        <select id="filter" class="form-control w-25" [(ngModel)]="filterOption">
            <option value="">Select Filter</option>
            <option value="Debit">Debit</option>
            <option value="Credit">Credit</option>
        </select>
    </div>
    <table class="table border table-striped shadow" id="transactionList">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Sender Name</th>
                <th>Reciver Name</th>
                <th>Amount</th>
                <th>Timestamp</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr id="tr{{item.senderId}}" *ngFor="let item of TransactionData | transactinFilter : filterOption" >
                <td>{{item.transactionId}}</td>
                <td>{{item.senderName}}</td>
                <td>{{item.receiverName}}</td>
                <td>₹{{item.amount}}</td>
                <td>{{item.timestamp | date  :'dd/MM/yyyy hh:mm a' }}</td>
                <td [ngStyle]="{'color': item.type == 'Debit' ? 'red' : 'green'} ">{{item.type}}</td>
            </tr>
        </tbody>
        <caption>Transaction Table</caption>
    </table>
</div>
